<div id="sidebarMenu" class="flex-shrink-0 p-3 bg-white collapse d-md-none d-lg-block">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <!-- <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg> -->
      <span class="fs-5 fw-semibold">Menu</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Menu 1
        </a>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a [routerLink]="['/auth']"class="link-dark rounded">Login</a></li>
            <li><a [routerLink]="['/']" class="link-dark rounded">Datatables</a></li>
            <li><a [routerLink]="['/home']" class="link-dark rounded">Menu</a></li>
            <li><a [routerLink]="['/gestion-usuarios']" class="link-dark rounded">Gestion usuarios</a></li>
            <li><a [routerLink]="['/registro-guardia']" class="link-dark rounded">Registro guardia</a></li>
            <li><a [routerLink]="['/bolsa-trabajo']" class="link-dark rounded">Registro de bolsa de trabajo</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Menu 2
        </a>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a [routerLink]="['/usuarios']" class="link-dark rounded">Mostrar usuarios</a></li>
            <!-- <li><a [routerLink]="['/check']" class="link-dark rounded">Checks</a></li> -->
            <li><a href="#" class="link-dark rounded">Submenu 2</a></li>
            <li><a href="#" class="link-dark rounded">Submenu 2</a></li>
            <li><a href="#" class="link-dark rounded">Submenu 2</a></li>
            <li><a href="#" class="link-dark rounded">Submenu 2</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Menu 3
        </a>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Submenu 3</a></li>
            <li><a href="#" class="link-dark rounded">Submenu 3</a></li>
            <li><a href="#" class="link-dark rounded">Submenu 3</a></li>
            <li><a href="#" class="link-dark rounded">Submenu 3</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <!-- https://javadesde0.com/maneras-de-instalar-bootstrap-en-angular-forma-tradicional/ -->