<!-- <p>perfiles works!</p> -->
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <app-menu></app-menu>
        </div>
        <div class="col-lg-10 col-md-10 container-fluid mt-5">
            <h2 class="text-center mt-3">Crear perfil</h2>

            <div class="container mt-5">

                <form [formGroup]="formPerfil">

                    <div class="form-row pb-5 mt-2">
                        <div class="form-group col-md-12 mb-3">
                            <label>Descripción del perfil:</label>
                        </div>
                        <input name="descripcion" placeholder="Escribe una descripción para el perfil"
                            class="form-control" formControlName="descripcion">
                    </div>
                    <!-- Seleccion de opciones -->
                    <div class="row">
                        <div class="form-group col-md-12 mb-3">
                            <label>Opciones para el perfil:</label>
                        </div>
                        <div class="col-lg-10 mb-3">
                            <select class="form-select" [formControl]="selectOpc" aria-label="Default select example">
                                <option [ngValue]="0" disabled class="text-center">Seleccione una opción</option>
                                <option *ngFor="let opc of listaOpciones" [ngValue]="opc">{{opc.descripcion}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary" (click)="addOpcion(selectOpc.value)"
                                [disabled]="selectOpc.invalid"> + Añadir opción
                            </button>
                        </div>
                    </div>

                    <!-- Seccion de opciones -->
                    <div *ngIf="opcionesArray.controls.length > 0">
                        <div class="form-row pb-5 mt-5">
                            <h3 class="text-center">Opciones del perfil</h3>
                            <!-- <div class="row">
                                <div class="col-lg-4"> -->
                                    <div formArrayName="opciones">
                                        <div *ngFor="let opcion of opcionesArray.controls; let i = index;">
                                            <div [formGroupName]="i">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <span><strong>Opción {{i+1}}</strong></span>
                                                        <div class="form-row mb-2 mt-2">
                                                            {{opcion.value.descripcion}}
                                                        </div>
                                                        <div class="form-row mb-2 mt-2">
                                                            <button class="btn btn-danger mt-2" (click)="removeOpcion(i)"> -
                                                                Quitar opción
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </div>
                            </div> -->
                        </div>
                        <button type="submit" class="btn btn-success" (click)="savePerfil()"
                            [disabled]="formPerfil.controls['descripcion'].invalid || opcionesArray.controls.length == 0">Guardar
                            perfil
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- <pre>
            {{formPerfil.value | json}}
        </pre> -->
    </div>
</div>