<!-- <p>perfiles works!</p> -->
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <app-menu></app-menu>
        </div>
        <div class="col-lg-10 col-md-10 container-fluid mt-5">
            <h2 class="text-center mt-3">Crear perfil</h2>

            <div class="container mt-5">

                <form [formGroup]="formPerfil">

                    <div class="form-row pb-5 mt-2">
                        <div class="form-group col-md-12">
                            <label>Descripción del perfil:</label>
                        </div>
                        <input name="descripcion" placeholder="Escribe una descripción para el perfil"
                            class="form-control" formControlName="descripcion">
                    </div>
                    <!-- Seleccion de opciones -->
                    <select class="form-select" [formControl]="selectOpc" aria-label="Default select example">
                        <option [ngValue]="0" disabled class="text-center">Seleccione una opción</option>
                        <option *ngFor="let opc of listaOpciones" [ngValue]="opc">{{opc.descripcion}}</option>
                    </select>
                    <div class="mt-3">
                        <button class="btn btn-primary" (click)="addOpcion(selectOpc.value)"
                            [disabled]="selectOpc.invalid"> + Añadir opcion</button>
                    </div>

                    <!-- Seccion de opciones -->
                    <div class="form-row pb-5 mt-2">
                        <h3 class="text-center">Opciones del perfil</h3>
                        <div formArrayName="opciones">
                            <div *ngFor="let opcion of opcionesArray.controls; let i = index;" class="mt-4">
                                <div [formGroupName]="i">
                                    <p><strong>Opción {{i+1}}</strong></p>
                                    <div class="form-row mb-2 mt-2">
                                        {{opcion.value.descripcion}}
                                    </div>
                                    <div class="form-row mb-2 mt-2">
                                        <button class="btn btn-danger mt-2" (click)="removeOpcion(i)"> - Quitar
                                            opcion</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" (click)="savePerfil()"
                        [disabled]="formPerfil.invalid">Enviar</button>
                </form>
            </div>
        </div>

        <!-- {{formPerfil.valid}}
        {{selectOpc.value | json}} -->

        <!-- {{selectOpc.invalid!}} -->
        {{formPerfil.valid}}
            <br>
        <!-- {{opcionesArray.controls |json}} -->
        resultado:{{formPerfil.invalid}} || {{ opcionesArray.value == null}}


        <pre>
            {{formPerfil.value | json}}
        </pre>
    </div>
</div>