<div class="row mt-5 mb-5">
    <div class="col-md-12">
        <div class="col-lg-12 col-md-10 col-sm-12 mt-3 mb-3">
            <h3 class="text-center mb-5">{{perfil.descripcion}}</h3>
            <form [formGroup]="formOpciones"> 
                <div *ngFor="let opcion of opcionesArray.controls; let i=index;">
                    <strong><p>{{perfil.opciones[i].descripcion}}<p></strong>
                    <div formArrayName="opciones">
                        <div formGroupName="{{i}}">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <div class="form-check">
                                    <input (click)="permisoLectura(i)" class="form-check-input" type="checkbox" value="1" id="check{{i}}" formControlName="lectura">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Lectura
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-check">
                                    <input (click)="permisoCreacion(i)" class="form-check-input" type="checkbox" value="4" id="check{{i}}" formControlName="creacion">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Creación
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-check">
                                    <input (click)="permisoActualizacion(i)" class="form-check-input" type="checkbox" value="2" id="check{{i}}" formControlName="actualizacion">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Actualización
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-check">
                                    <input (click)="permisoEliminacion(i)" class="form-check-input" type="checkbox" value="8" id="check{{i}}" formControlName="eliminacion">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Eliminación
                                    </label>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <input class="btn btn-success" type="submit" value="Enviar" (click)="enviarDatos()">
            </form>
        </div>
    </div>
    <pre>
        {{this.formOpciones.value.opciones | json}}
    </pre>
</div>

