<!-- <p>gestion-usuarios works!</p> -->
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <app-menu></app-menu>
        </div>
        <div class="col-lg-10 col-md-10 container-fluid mt-5">
            <h1 class="text-center">Gestion de usuarios</h1>
            <div class="row mt-5">
                <div class="col-lg-3">
                    <label class="text-center">1.Datos de usuario</label>
                </div>
                <!-- Datos -->
                <div class="col-lg-6 mb-3">
                    <form [formGroup]="formUsuario">
                        <div class="col-lg-9 col-md-12 mb-3">
                            <input class="form-control" type="text" id="clave" name="clave" formControlName="clave" placeholder="Clave">
                        </div>
                        
                        <div class="col-lg-9 col-md-12 mb-1">
                            <input class="form-control" [type]="mostrarContrasena ? 'text' : 'password'" id="contrasena" name="contrasena" formControlName="contrasena" placeholder="Contraseña">
                        </div>
                        <div class="col-lg-12 col-md-12 mb-4">
                            <div class="form-check">
                                <input (click)="cambiarContrasena()" class="form-check-input" type="checkbox" id="contrasenacheck">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Mostrar contraseña
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-12 mb-1">
                            <input class="form-control" [type]="mostrarContrasena2 ? 'text' : 'password'" id="contrasena2" name="contrasena2" formControlName="contrasena2" placeholder="Confirmar contraseña">
                        </div>
                        <div class="col-lg-12 col-md-12 mb-4">
                            <div class="form-check">
                                <input (click)="cambiarContrasena2()" class="form-check-input" type="checkbox" value="" id="contrasena2check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Mostrar contraseña
                                </label>
                            </div>
                        </div>
                        <div *ngIf="formUsuario.errors?.['validarPassword'] && getControl('contrasena2')?.touched">
                            Constaeñas no coinciden
                        </div>

                        <div class="col-lg-9 col-md-12 mb-3">
                            <input class="form-control" type="text" id="empleado" name="empleado" formControlName="empleado" placeholder="Empleado">
                        </div>
                        <div class="col-lg-9 col-md-12 mb-3">
                            <select class="form-select" formControlName="perfil" aria-label="Default select example">
                                <option [ngValue]="null" disabled class="text-center">Asigne un perfil</option>
                                <option *ngFor="let per of listaPerfiles" [ngValue]="per">{{per.descripcion}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <div class="mb-3">
                        <label>Buscar usuario registrado:</label>
                    </div>
                    <div class="col-xl-10 col-md-6 col-sm-6">
                        <input class="form-control" type="text" id="buscarUsuario" name="buscarUsuario" placeholder="Buscar...">
                    </div>
                </div>
            </div>
            {{formUsuario.value | json}}
            <hr>
            <div *ngIf="formUsuario.valid">
                <app-gestion-guardias
                    [clave]="formUsuario.value.clave"
                    [contrasena]="formUsuario.value.contrasena"
                    [contrasena2]="formUsuario.value.contrasena2"
                    [nombre]="formUsuario.value.empleado"
                    [idPerfil]="formUsuario.value.perfil.idPerfil"
                    [perfil]="formUsuario.value.perfil.descripcion"
                    ></app-gestion-guardias>
            </div>
            
        </div>
    </div>
</div>
