<!-- <p>check works!</p> -->
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <app-menu></app-menu>
        </div>
        <div class="col-lg-10 col-md-10 container-fluid mt-5">

            <div>
                <p>Descripcion: {{perfil.descripcion}} </p>
                <p>id Perfil: {{perfil.idPerfil}}</p>
                <hr>

                <form [formGroup]="formOpciones"> 
                    <div *ngFor="let opcion of opcionesArray.controls; let i=index;">
                        {{perfil.opciones[i].descripcion}}
                        <div formArrayName="opciones">
                            <div formGroupName="{{i}}">
                                <div class="col-lg-2 col-md-3">
                                    <div class="form-check">
                                        <input (click)="permisoLectura()" class="form-check-input" type="checkbox" value="1" id="check{{i}}" formControlName="lectura">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Lectura
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <div class="form-check">
                                        <input (click)="permisoActualizacion()" class="form-check-input" type="checkbox" value="2" id="check{{i}}" formControlName="actualizacion">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Actualización
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <div class="form-check">
                                        <input (click)="permisoCreacion()" class="form-check-input" type="checkbox" value="4" id="check{{i}}" formControlName="creacion">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Creación
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <div class="form-check">
                                        <input (click)="permisoEliminacion()" class="form-check-input" type="checkbox" value="8" id="check{{i}}" formControlName="eliminacion">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Eliminación
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                    </div>

                    <input class="btn btn-success" type="submit" value="Enviar" (click)="enviarDatos()">
                </form>
                <!-- prueba 3 -->
        </div>
    </div>

    <pre>
        {{formOpciones.value | json}}
    </pre>

    <br>
    {{valorActualizacion+valorCreacion+valorEliminacion+valorLectura}}

    <br><br><br><br>  